:root {
    --color1: #201e1e;
    --color2: #b80909;
    --color3: #e55b2b;
    --color4: #1f7586;
    --color5: #bddbf3;
}
header, footer {
    padding-top: 12px;
    padding-bottom: 24px;
    background: linear-gradient(60deg,  var(--color4) 0%,var(--color5) 80%);
}
section {
    padding: 50px;
    min-height: 100%;    
}
.about {
    background-color: antiquewhite;
}
.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 39%;
    border-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-itd {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    padding: 8px 30px;    
    color: var(--bs-white);
    background-color: var(--color2);
}
.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.bg1 {
    background-color: var(--color1);
}
.bg2 {
    background-color: var(--color2);
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}
.script_result {    
    background-color:var(--color2);
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;   
}