:root {
    --color1: #c0ebff;
    --color2: #06bee1;
    --color3: #1768ac;
    --color4: #2541b2;
    --color5: #03256c;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    /*overflow: hidden;    */
    background-color: var(--color2);
    position: fixed;
    top: 0;
    width: 100%;
}

li { 
    float: left;    
}

li a {
    display: block;
    color: var(--color5);
    text-align: center;
    padding: 10px 20px;    
    text-decoration: none;
    text-transform: uppercase;    
}

li a.active {
    background-color: var(--color3);
    color: var(--color1);
}

li a:hover:not(.active) {
    background-color: var(--color3);
    color: var(--color1);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color2);
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--color5);
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: var(--color3);}
  
.dropdown:hover .dropdown-content {
    display: block;
}