:root {
    --color1: #c0ebff;
    --color2: #06bee1;
    --color3: #1768ac;
    --color4: #2541b2;
    --color5: #03256c;
    font-family: Arial, Helvetica, sans-serif;
}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    min-height: 100vh;
    background-color: yellow;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.2s;
}

.navbar a:hover::before {
    width:100%;


}